{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "alias": {
        "constants": "./lib/constants",
        "models": "./lib/models",
        "controllers": "./lib/controllers",
        "utils": "./lib/utils",
      }
    }]
  ],
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
